@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  overflow-x: hidden;
}

a:hover {
  filter: brightness(1.5);
}
